{% extends 'base.html' %}

{% block title %}{{ super()}} - Login {% endblock %}

{% block content %}


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}



{% if current_user.is_authenticated %}
Hi {{ current_user.fullname }}!
{% else %}
<p>ok</p>
<form action="" method="post">
    {{ form.csrf_token }}
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        {{ form.username(class="form-control", id="username") }}
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        {{ form.password(class="form-control", id="password") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endif %}
{% endblock %}



